In [12]:
scores = [88,73,89,59,77]

scores[1] >= 60 and scores[2] >= 60 and scores[3] >= 60 and scores[4] >= 60 and scores[5] >= 60

False

In [55]:
#리스트.append(요소) -> 리스트에 요소를 추가합니다. 요소의 순서는 맨 뒤에 추가됩니다.
numbers = [1,2,3,4,5,6,7]
numbers.append(8)   

print(numbers)

#리스트.insert(인덱스,요소) -> 라스트에 요소를 추가합니다. 요소의 순서는 맨 뒤로 추가됩니다.
numbers.insert(0,0)
numbers.insert(4,0)
numbers.insert(6,0)
numbers.insert(len(numbers),0)

print(numbers)

#리스트1.extend(리스트2) -> 리스트1 맨 뒤로 리스트2 요소들을 추가합니다.
numbers.extend([9,10,11])
print(numbers)

[1, 2, 3, 4, 5, 6, 7, 8]
[0, 1, 2, 3, 0, 4, 0, 5, 6, 7, 8, 0]
[0, 1, 2, 3, 0, 4, 0, 5, 6, 7, 8, 0, 9, 10, 11]

In [56]:
#리스트.remove(인자) -> 인자와 리스트에 동일한 요소를 제거합니다. 
#여럿인 경우 제일 먼저 발견된 요소를 삭제합니다.
print(numbers)
numbers.remove(0)
print(numbers)

[0, 1, 2, 3, 0, 4, 0, 5, 6, 7, 8, 0, 9, 10, 11]
[1, 2, 3, 0, 4, 0, 5, 6, 7, 8, 0, 9, 10, 11]

In [125]:
del numbers[0]
print(numbers)

[9, 8, 7, 6, 5, 4, 3, 2, 0, 0]

In [122]:
# pop > 제일 뒤에 오는 요소를 반환한다. 그리고 리스트에서 삭제한다.
print(numbers.pop())

print(numbers)

0
[10, 9, 8, 7, 6, 5, 4, 3, 2, 0, 0]

In [121]:
#리스트.index(인자) -> 리스트에서 순서대로 인자와 요소가 같은 것을 찾습니다.
#첫 번째로 발견된 요소의 인덱스 값을 반환합니다.
print(numbers.index(2))

8

In [124]:
# count(인자) 리스트 안에 인자와 같은 요소가 몇개가 있는지 반환한다.
print(numbers)
print(numbers.count(0))

[10, 9, 8, 7, 6, 5, 4, 3, 2, 0, 0]
2

In [72]:
# sort오름차순으로 순서를 정리해준다.
print(numbers)

print(numbers.sort()) 

# reverse는 순서롤 역순으로 바꿔준다
print(numbers)

print(numbers.reverse())

[10, 9, 8, 7, 6, 5, 4, 3, 2, 0, 0, 0]
None
[0, 0, 0, 2, 3, 4, 5, 6, 7, 8, 9, 10]
None

In [77]:
stack = [3,4,5]
stack.append(6)
stack.append(7)

print(stack)

print(stack.pop())

print(stack)

print(stack.pop())

print(stack.pop())

print(stack)

[3, 4, 5, 6, 7]
7
[3, 4, 5, 6]
6
5
[3, 4]

In [80]:
tuple_vaiable = (1,2,3,4,5,"hello")
tuple_vaiable[0] = 0   #수정불가
tuple_vaiable[1:3] = (6,7)   #마찬가지로 슬라이싱도 수정불가

TypeError: 'tuple' object does not support item assignment

In [81]:
del tuple_vaiable[0]

TypeError: 'tuple' object doesn't support item deletion

In [87]:
t_y = "음","오","아","예"
print(type(t_y))
print(t_y)

<class 'tuple'>
('음', '오', '아', '예')

In [92]:
#튜플과 리스트의 소요시간 비교

#튜플
import time

curr = time.time()
total = []

for i in range(1000):
    for j in range(1000):
        total.append((i,j)) #소괄호
        
last = time.time()
print(last - curr)

0.16910028457641602

In [93]:
#리스트
import time

curr = time.time()
total = []

for i in range(1000):
    for j in range(1000): #대괄호
        total.append([i,j]) 
        
last = time.time()
print(last - curr)

0.5041012763977051

In [126]:
s1 ,s2 = "text1", "text2"
print(s1)
print(s2)

text1
text2

In [127]:
s3, s4, s5 = ["이렇게","리스트도","가능합니다."]
print(s3,s4,s5)

이렇게 리스트도 가능합니다.

In [129]:
s6, s7, s8, s9 = "문자열도"
print(s6, s7, s8, s9)

문 자 열 도

In [130]:
input_value = input("Message")

Message 1111

In [131]:
print("input_value:", input_value, "\ntpye:" , type(input_value))

input_value: 1111
tpye: <class 'str'>

In [133]:
input_value = int(input_value)

In [134]:
print("input_value:", input_value, "\ntpye:" , type(input_value))

input_value: 1111
tpye: <class 'int'>

In [10]:
input_value2 = input("정수 외에 다른 값을 입력해보세요.")

정수 외에 다른 값을 입력해보세요. 1.1

In [12]:
input_value2 = float(input_value2)
print(input_value2)

1.1

In [137]:
input_value = int(input("정수를 입력해주세요:"))
print(input_value)

정수를 입력해주세요: 5

5

In [149]:
name = input("이름을 입력하시오:")

이름을 입력하시오: 엔코아

In [150]:
print(name,"씨 안녕하세요?")
print("파이썬에 오신것을 환영합니다.")

엔코아 씨 안녕하세요?
파이썬에 오신것을 환영합니다.

In [151]:
first = int(input("첫 번째 정수를 입력하세요:"))

첫 번째 정수를 입력하세요: 300

In [152]:
second = int(input("두 번째 정수를 입력하세요:"))

두 번째 정수를 입력하세요: 400

In [153]:
print(first, "과", second, "의 합은", first + second, "입니다.")

300 과 400 의 합은 700 입니다.

In [154]:
stadium = input("경기장은 어디입니까?")

경기장은 어디입니까? 고척

In [155]:
w_team = input("이긴 팀은 어디입니까?")

이긴 팀은 어디입니까? KT

In [157]:
l_team = input("진 팀은 어디입니까?")

진 팀은 어디입니까? LG

In [158]:
best_player = input("우수 선수는 누구입니까?")

우수 선수는 누구입니까? 강백호

In [160]:
score = input("스코어는 몇대몇입니까?")

스코어는 몇대몇입니까? 10:9

In [174]:
print("[속보]", w_team, "가", score, "로 승리...")
print("오늘", stadium,"경기장에서 야구 경기가 있었습니다.")
print(w_team, "와", l_team, "는 치열한 공방전을 펼쳤습니다.")
print("이 경기에서", best_player,"가 맹활약을 했습니다.")
print("그 끝내", w_team, "가", l_team, "를", score, "로 승리하였습니다.")
print("기사 끝.")

[속보] KT 가 10:9 로 승리...
오늘 고척 경기장에서 야구 경기가 있었습니다.
KT 와 LG 는 치열한 공방전을 펼쳤습니다.
이 경기에서 강백호 가 맹활약을 했습니다.
그 끝내 KT 가 LG 를 10:9 로 승리하였습니다.
기사 끝.

In [178]:
result = '12,34,56'.split(',')
print(type(result))
print(result)

<class 'list'>
['12', '34', '56']

In [214]:
h, m, s = input("hh:mm:ss의 형태로 시간을 입력해주세요").split(':')

hh:mm:ss의 형태로 시간을 입력해주세요 12:33:23

In [215]:
print("시:", h)
print("분:", m)
print("초:", s)

시: 12
분: 33
초: 23

In [10]:
a = [1.2, 2.5, 3.7, 4.6]
a = list(map(int, a)) # list타입으로 변경해준다.
print(a)

[1, 2, 3, 4]

In [232]:
score = input("국어,영어,수학,과학 점수를 입력해주세요.").split(",")

국어,영어,수학,과학 점수를 입력해주세요. 98,100,96,100

In [243]:
score = list(map(int,score))

kor = score[0]
eng = score[1]
mat = score[2] 
sci = score[3] 

avg = (kor+eng+mat+sci)/4

print("평균 점수는", avg, "점입니다.")

평균 점수는 98.5 점입니다.

In [257]:
kor, eng, mat, sci = map(int,input("국어,영어,수학,과학 점수를 입력해주세요.").split(","))

국어,영어,수학,과학 점수를 입력해주세요. 98,100,96,100

In [254]:
avg = (kor+eng+mat+sci)/4

print("평균 점수는", avg, "점입니다.")

평균 점수는 98.5 점입니다.

In [277]:
year = '2021'
month = '02'
day = '03'
hour = '18'
minute = '33'
second = '23'

# sep = "/" 중간중간에 / 기호 추가
# end = " " 들여쓰기
# +꼭 끝에 적어주기
print(year, month, day, sep = "/",end = " ")
print(hour, minute, second, sep = ":")

2021/02/03 18:33:23

In [286]:
apple, orange = map(int,input("사과와 오렌지을 몇 개 드릴까요?").split(","))

사과와 오렌지을 몇 개 드릴까요? 10,20

In [288]:
price = apple*1000 + orange*200
print("총 가격은", price, end = "")
print("원입니다.")

총 가격은 14000원입니다.

In [296]:
input_value4 = 1

if type(input_value4) is int:
    print("input_value4는 정수입니다.")

input_value4는 정수입니다.

In [301]:
age = 30
if 20 <= age < 30:
    print("20대 입니다.")
elif 30 <= age < 40:
    print("30대 입니다.")
    
print("감사합니다.")

30대 입니다.
감사합니다.

In [7]:
age = 40
if 20 <= age < 30:
    print("20대 입니다.")
elif 30 <= age < 40:
    print("30대 입니다.")
else:
    print("40대 입니다.")
    
print("감사합니다.")

40대 입니다.
감사합니다.

In [9]:
user_name = input("아이디를 입력하세요.")

if user_name == ('admin'):
    print("최고관리자, 모든 권한을 갖습니다.")

    
else:
    grade = int(input("회원 등급을 입력해주세요."))
    if 1 <= grade <= 3:
        print("제한적인 권한을 갖습니다.")
    else:
        print("권한이 없습니다.")

아이디를 입력하세요. dddd
회원 등급을 입력해주세요. 3

제한적인 권한을 갖습니다.