In [1]:
list_a = [1,2,3,4,5]
print(list_a)
list_a.remove(1)
print(list_a)
del(list_a[0])
print(list_a)

[1, 2, 3, 4, 5]
[2, 3, 4, 5]
[3, 4, 5]

In [17]:
import random
random_list = [random.randint(1,2) for _ in range(5)] # 1부터 2까지의 수 // 5번 반복
print(random_list)

[1, 1, 2, 1, 1]

In [239]:
#M 
import random

num = int(input("로또 번호 몇 개 드릴까요?"))

list_l = [random.randint(1,6) for i in range(num)] # 1~6까지 num개의 숫자를 랜덤으로 생성

# 중복되는 숫자의 갯수 만큼 지우고 생성하고를 반복

count = 0 # 중복되는 숫자의 갯수
while count > 0:
    list_l = [random.randint(1,6) for i in range(num)]
    for i in range(len(list_l)):
        if list_l[i] == list[i+1]:
            count += 1 
        
print(count)
print(list_l)

list_l.sort()

print(list_l)

로또 번호 몇 개 드릴까요? 6

0
[5, 1, 3, 4, 5, 3]
[1, 3, 3, 4, 5, 5]

In [240]:
#T  1~45까지의 숫자를 중복되지 않을 때 까지 생성하는 방법
import random

num = int(input("로또 번호 몇 개 드릴까요?"))

for i in range(num):
    l_numbers = []
    while len(l_numbers) < num:
        l_number = random.randint(1,45)
        if l_number not in  l_numbers: # l_numbers안에 l_number가 없다면
            l_numbers.append(l_number)
    l_numbers.sort()
    print(l_numbers)

로또 번호 몇 개 드릴까요? 6

[3, 7, 9, 23, 30, 36]
[4, 12, 18, 22, 28, 34]
[7, 24, 26, 27, 29, 30]
[9, 17, 20, 27, 30, 33]
[4, 5, 10, 27, 28, 31]
[7, 11, 18, 20, 29, 36]

In [236]:
#T 1~45까지의 숫자를 생성하고 하나씩 빼서 다른 리스트에 주는 방법
import random
count = int(input("로또 번호 몇 개 드릴까요?"))
for i in range(count):
    lotto = [j for j in range(1, 46)]
    lotto_numbers = []
    for _ in range(6):
        lotto_number = lotto[random.randint(1, len(lotto)-1 )]
        lotto_numbers.append(lotto_number)
        lotto.remove(lotto_number)
        lotto_numbers.sort()
    print(lotto_numbers)

로또 번호 몇 개 드릴까요? 6

[4, 5, 8, 15, 30, 32]
[2, 6, 11, 12, 23, 31]
[3, 4, 15, 22, 37, 44]
[14, 17, 24, 28, 37, 40]
[5, 9, 14, 16, 20, 37]
[8, 13, 18, 20, 30, 34]

## 세트 자료형(set)
- 딕셔너리처럼 중괄호{} 를 사용해서 생성하고 키 값만 갖는다.
- 세트의 요소는 키와 같은 성격을 갖기에 중복된 요소를 가지지 않습니다.
- 인덱스를 갖기 않습니다.

In [257]:
set_varible = set()
print(set_varible, type(set_varible))

set() <class 'set'>

In [260]:
[set_varible.add(1) for i in range(5)] #추가하기
print(set_varible) #1이 5개 있어야 하지만 중복이기 때문에 하나만 나온다.

{1}

In [2]:
set_varible1 = {_ for _ in range(1,20) if _ % 3 == 0}
print(set_varible1)

{3, 6, 9, 12, 15, 18}

In [172]:
# 합집합
A = {_ for _ in range(1,5)}
B = {_ for _ in range(2,6) if _ != 3}
print("A:", A, "\nB:", B)
print("set.union(A,B):", set.union(A,B))
print("A | B:", A | B)

A: {1, 2, 3, 4}
B: {2, 4, 5}
set.union(A,B): {1, 2, 3, 4, 5}
A | B: {1, 2, 3, 4, 5}

In [174]:
# 교집합
A = {_ for _ in range(1,5)}
B = {_ for _ in range(2,6) if _ != 3}
print("A:", A, "\nB:", B)
print("set.intersection(A,B):", set.intersection(A,B))
print("A & B:", A & B)

A: {1, 2, 3, 4}
B: {2, 4, 5}
set.intersection(A,B): {2, 4}
A & B: {2, 4}

In [175]:
# 차집합
A = {_ for _ in range(1,5)}
B = {_ for _ in range(2,6) if _ != 3}
print("A:", A, "\nB:", B)
print("set.difference(A,B):", set.difference(A,B))
print("A - B:", A - B)

A: {1, 2, 3, 4}
B: {2, 4, 5}
set.difference(A,B): {1, 3}
A - B: {1, 3}

In [177]:
# 대칭차집합
A = {_ for _ in range(1,5)}
B = {_ for _ in range(2,6) if _ != 3}
print("A:", A, "\nB:", B)
print("set.symmetric_difference:", set.symmetric_difference(A,B))
print("A ^ B:", A ^ B)

A: {1, 2, 3, 4}
B: {2, 4, 5}
set.symmetric_difference: {1, 3, 5}
A ^ B: {1, 3, 5}

In [122]:
# 업데이트
A = {_ for _ in range(1,5)}
B = {_ for _ in range(2,6) if _ != 3}
print("A:", A, "\nB:", B)
A.update(B)
print("A.update(B):", A)

A: {1, 2, 3, 4}
B: {2, 4, 5}
A.update(B): {1, 2, 3, 4, 5}

In [189]:
A = {_ for _ in range(1,5)}
B = {_ for _ in range(2,6) if _ != 3}
print("A:", A, "\nB:", B)
A.difference_update(B)  
print("A.update(B):", A)

A: {1, 2, 3, 4}
B: {2, 4, 5}
A.update(B): {1, 3}

In [18]:
A = {_ for _ in range(0,3)}
B = {_ for _ in range(0,3)}
print("A:", A, "\nB:", B)
print("A.issubset(B):", A.issubset(B))

A: {0, 1, 2}
B: {0, 1, 2}
A.issubset(B): True

In [19]:
A = {_ for _ in range(0,3)}
B = {_ for _ in range(0,2)}
print("A:", A, "\nB:", B)
print("A.issubset(B):", B.issubset(A))

A: {0, 1, 2}
B: {0, 1}
A.issubset(B): True

In [20]:
A = {_ for _ in range(0,3)}
B = {_ for _ in range(0,3)}
print("A:", A, "\nB:", B)
print("A.issuperset(B):", A.issuperset(B))

A: {0, 1, 2}
B: {0, 1, 2}
A.issuperset(B): True

In [21]:
A = {_ for _ in range(0,3)}
B = {_ for _ in range(0,2)}
print("A:", A, "\nB:", B)
print("A.issuperset(B):", A.issuperset(B))

A: {0, 1, 2}
B: {0, 1}
A.issuperset(B): True

In [23]:
A = {_ for _ in range(0,3)}
B = {_ for _ in range(0,3)}
print("A:", A, "\nB:", B)
print("A > B:", A > B)
print("A < B:", A < B)

A: {0, 1, 2}
B: {0, 1, 2}
A > B: False
A < B: False

In [24]:
A = {_ for _ in range(0,3)}
B = {_ for _ in range(0,2)}
print("A:", A, "\nB:", B)
print("A > B:", A > B)
print("A < B:", A < B)

A: {0, 1, 2}
B: {0, 1}
A > B: True
A < B: False

In [26]:
A = {_ for _ in range(0,3)}
B = {_ for _ in range(0,3)}
print("A:", A, "\nB:", B)
print("A == B:", A == B)

A: {0, 1, 2}
B: {0, 1, 2}
A == B: True

In [27]:
A = {_ for _ in range(0,3)}
B = {_ for _ in range(3,6)}
print("A:", A, "\nB:", B)
print("A.isdisjoint(B)", A.isdisjoint(B))

A: {0, 1, 2}
B: {3, 4, 5}
A.isdisjoint(B) True

In [49]:
import random

num = int(input("로또 번호 몇 개 드릴까요?"))

set_l = set()
while len(set_l) < 6:
    for i in range (6):
        set_l.add(random.randint(1,45)) 

print(set_l)

로또 번호 몇 개 드릴까요? 6

{32, 8, 41, 12, 13, 17, 19, 20, 25, 31}

In [141]:
import random

lotto = set()
while len(lotto) != 6:
    lotto = {random.randint(1,45) for _ in range(6)}
result = list(lotto)
result.sort()
print(result)

[5, 27, 32, 37, 40, 44]

In [142]:
list_sample = [1,2,2,3,3,3,4,4,4,4]

print(set(list_sample))

{1, 2, 3, 4}

In [123]:
set_3 = {i for i in range(1,101) if i % 3 == 0}

set_5 = {i for i in range(1,101) if i % 5 == 0}

result_set = set_3 & set_5 # 교집합기호: & or set.intersection(set_3, set_5)

print(result_set)

{75, 45, 15, 90, 60, 30}

In [197]:
role_admin = ("회계 관리", "인사 관리", "구매관리", "시스템 관리")
role_hr = ("인사 관리", "개인정보 조회", "회계 관리", "근태 관리")
role_user = ("개인정보 조회", "근태 관리")

result1 = set(role_admin + role_hr + role_user)

result2 = list(result1)

result2.sort()


for i in range(len(result2)):
    if i < len(result2)-1:
        print(result2[i], end=", ")
    else:
        print(result2[i])
        
# for i in result2:
#     if result2[-1] == i:
#         print(i, end="")
#     else:
#         print(i, end=", ")

개인정보 조회, 구매관리, 근태 관리, 시스템 관리, 인사 관리, 회계 관리

In [234]:
num = int(input("찾는 범위를 입력하세요."))

num_list = [_ for _ in range(2,num+1)] # 2부터 num까지의 숫자

for i in num_list: # num_list의 숫자를 i에 넣을때 까지
    for j in range(2,i): # j는 2부터 i까지
        if i % j != 0:
            if i % j == 0:
                print(i)
    

# for i in range(2,num):
#     for j in range(1,i+1): 
#         if i %  == 0:
#             print(i)
            
# 소수 : 1보다 큰 자연수 중 1과 그 수 자신만을 약수로 갖는 자연수
# 나 자신이 아닌 다른 수로 나누어 질 때

찾는 범위를 입력하세요. 10

In [312]:
num = int(input("찾는 범위를 입력하세요."))

num_list = [_ for _ in range(2,num+1)] # 2부터 num까지의 숫자
result_list = [0] # 2번째 for문 range(1,len(result_list))에서 0부터가 아닌 1부터 시작해야해서 인덱스0번을 채워준다.
for i in num_list: # num_list의 숫자를 i에 넣을때 까지
    count = 0
    for j in range(1,i+1): # 1부터 i까지의 j
        if i % j == 0:     # i나누기 j == 0이라면
            count += 1     # 카운트에 1을 추가
    if count < 3:
        result_list.append(i)
for i in range(1,len(result_list)):
    if i % 7 == 0:
        print(result_list[i], end=" ")
        print()
    else:
        print(result_list[i], end=" ")

찾는 범위를 입력하세요. 100

2 3 5 7 11 13 17
19 23 29 31 37 41 43
47 53 59 61 67 71 73
79 83 89 97

In [318]:
#T
inData = int(input("찾는 범위를 입력하세요."))

i = 2
line = 0
while i <= inData:
    j = 2
    while j <= i:
        if i % j == 0:
            break
        j += 1
    if i == j:
        print(i ,end=" ")
        line += 1
        if line == 7:
            line = 0
            print()
    i += 1

찾는 범위를 입력하세요. 100

2 3 5 7 11 13 17
19 23 29 31 37 41 43
47 53 59 61 67 71 73
79 83 89 97

In [320]:
#T
def isPrime(num):
    primes = [False, False] + [True]*(num-1)
    for i in range(2, num+1):
        if primes[i]:
            for _ in range(i * 2, num+1, i):
                primes[_] = False
    return primes[num]
get = int(input("찾는 범위: "))
lst = [_ for _ in range(2, get) if isPrime(_)]
count = 0
for _ in lst:
    count+=1
    print(_,end=" ")
    if count%7 == 0:
        print()

찾는 범위:  100

2 3 5 7 11 13 17
19 23 29 31 37 41 43
47 53 59 61 67 71 73
79 83 89 97

In [334]:
def function():
    """
    Docs string 부분입니다.
    이곳에 함수의 설명에 대해 적어놓으시면 좋습니다.
    """
    pass

In [337]:
print(function.__doc__) # 언더바 2개 __

    Docs string 부분입니다.
    이곳에 함수의 설명에 대해 적어놓으시면 좋습니다.

In [338]:
# 함수를 정의절
def function_name(positional1, positional2, *args, keyword1=1, **kargs):
    pass # body

In [340]:
# 함수 정의절
def get_grade(score):
    """
    숫자로된 점수를 넣으시면 학점의 결과를 반환합니다.
    """
    if 85 <= score <= 100:
        return "A"
    elif 70 <= score <= 84:
        return "B"
    elif 55 <= score <= 69:
        return "C"
    elif 40 <= score <= 54:
        return "D"
    elif 0 <= score <= 39:
        return "F"

In [361]:
print(get_grade.__doc__)

    숫자로된 점수를 넣으시면 학점의 결과를 반환합니다.

In [349]:
result = get_grade(100) # "A"
print(result)

A

In [357]:
import random
# 20명의 점수를 입력했다.
scores = [random.randint(1,100) for i in range(20)]
print(scores)

[20, 75, 54, 17, 23, 14, 25, 34, 85, 98, 36, 51, 96, 44, 40, 11, 48, 53, 72, 59]

In [362]:
grades = list(map(get_grade, scores))
print(grades)

['F', 'B', 'D', 'F', 'F', 'F', 'F', 'F', 'A', 'A', 'F', 'D', 'A', 'D', 'D', 'F', 'D', 'D', 'B', 'C']

In [369]:
# 함수 정의절
# 인자(매개변수, parameter) - non-defult, defult 종류
def get_grade(score, name, student_number): # get_grade(score, name="홍길동", student_number) X
                                            # get_grade(score, student_number, name="홍길동") O 기본값을 주는 값은 맨뒤에 있어야함.
    """
    숫자로된 점수를 넣으시면 학점의 결과를 반환합니다.
    """
    print(f"{student_number}, {name}의 성적을 확인합니다.")
    if 85 <= score <= 100:
        return "A"
    elif 70 <= score <= 84:
        return "B"
    elif 55 <= score <= 69:
        return "C"
    elif 40 <= score <= 54:
        return "D"
    elif 0 <= score <= 39:
        return "F"

In [370]:
get_grade(100, "이병호", "201823018")

201823018, 이병호의 성적을 확인합니다.

'A'

In [399]:
# 함수 정의절
# 인자(매개변수, parameter) - non-defult, defult 종류
# positional-only: /문자 기준으로 왼편에 온다.
def add_number(number2, number1=3, /):
    """
    숫자 number1과 숫자 number2를 전달 받아 더한 결과를 반환합니다.
    """
    return number1 + number2

In [372]:
print(add_number.__doc__)

    숫자 number1과 숫자 number2를 전달 받아 더한 결과를 반환합니다.

In [401]:
# 인수(argument) - positional argument, keyword argument
result = add_number(2)

print(result)

5

In [415]:
# 함수 정의절
# 인자(매개변수, parameter) - non-defult, defult 종류
# keyword-only: *문자 기준으로 오른편에 온다.
def minus(*, number1, number2=3):
    """
    숫자 number1과 숫자 number2를 전달 받아 뺀 결과를 반환합니다.
    """
    return number1 - number2

In [427]:
# 함수를 호출(call)
# 인수(argument) - positional argument, keyword argument
minus(number1=5)

2

In [416]:
# 함수 정의절
# 인자(매개변수, parameter) - non-defult, defult 종류
# positional-only: /문자 기준으로 왼편에 온다.
# keyword-only: *문자 기준으로 오른편에 온다.
def multi_number(number1, /, *, number2=3):
    """
    숫자 number1과 숫자 number2를 전달 받아 곱한 결과를 반환합니다.
    """
    return number1 * number2

In [417]:
multi_number(3,number2 = 10)

30

In [420]:
def string_line(str_value, /, str_len=70, *, sep="#"):
    """
    str_value는 가운데 오늘 텍스트입니다.
    str_line은 텍스트의 설정할 길이입니다.
    sep는 구분선을 그을때 쓰는 문자입니다.
    """
    print(str_value.center(str_len, sep))

In [421]:
string_line("구분", 50, sep="*")

************************구분************************

In [423]:
print(len("************************구분************************"))

50

In [424]:
string_line("절취선", 100, sep="-")

------------------------------------------------절취선-------------------------------------------------

In [425]:
print(len("------------------------------------------------절취선-------------------------------------------------"))

100

In [445]:
# *args: var positional 가변 위치
def test_func(a,b,c,*args): # *args은 가장 뒤에 있어야한다.
    print(f"a:{a} b:{b} c:{c}")
    print(type(args))
    print(args)

In [444]:
test_func("a 위치입니다.", "b 위치입니다", "c 위치입니다")

a:a 위치입니다. b:b 위치입니다 c:c 위치입니다
<class 'tuple'>
()

In [433]:
test_func("a 위치입니다.", "b 위치입니다", "c 위치입니다", "여기는", "어달까요")

a:a 위치입니다. b:b 위치입니다 c:c 위치입니다
<class 'tuple'>
('여기는', '어달까요')

In [450]:
# **kargs: var keyword 가변 키워드
def test_func2(a="a", b="b", **kargs):
    print(a, b)
    print(type(kargs))
    print(kargs)

In [451]:
test_func2(a="ab", b="bc", key="value", key2="value2")

ab bc
<class 'dict'>
{'key': 'value', 'key2': 'value2'}

In [470]:
def plus_ten(num):
    """
    각 입력받은 정수를 10씩 더해서 반환하는 함수입니다.
    """
    return num + 10

In [497]:
print(plus_ten(70))

80